@import url(https://fonts.cdnfonts.com/css/glacial-indifference-2);
@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap);

/* Fonts */

    h1, h2, h3, h4, p, p.footerhead {
        text-align: center;
        font-optical-sizing: auto;
    }


    h1, h2, h4, p.footerhead {
        font-weight: 500;
    }


    h1, h3, h5, p.footerhead, p.footertxt {
        font-family: 'Glacial Indifference', sans-serif;
    }


    h1, h3, h5, p.footerhead {
        font-size: 18px;
    }


    h2, h3, h4, h5 {
        text-transform: uppercase;
    }


    h2, h4 {
        font-family: "Frank Ruhl Libre", serif;
        font-size: 40px;
    }


    h3, h4, h5 {
        margin-bottom: 0px;
    }


    h3, h5 {
        font-weight: 600;
    }


    p {
        font-family: Jost, sans-serif;
        font-size: 14px;
        font-weight: normal;
    }


    p.description {
        margin-top: 0px;
        color: rgb(78, 78, 78);
    }


    
/* Fonts with unique styles */

    h2 {
        width: 1400px; 
        text-align: center; 
        border-bottom: 1px solid #989898; 
        line-height: 0.1em;
        margin: auto; 
        margin-top: 5px;
    }


    h2 span { 
        background:#fff; 
        padding:0 10px; 
    }


    h3 {
        margin-top: 10px;
    }


    h4 {
        margin-top: 0px;
    }


    h5 {
        text-align: left;
        margin-top: 25px;
    }



/* Index Shared Styles*/

    .header, .logo {
        height: 100px;
    }

    .logo, .cover, .row, .dish, .footer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .cover, .dish {
        object-fit: cover;
        border-radius: 15px;
    }

    .cover, .division {
        width: 1400px;
    }

    .column, .division {
        margin-top: 30px;
    }

    .header, .row, .division, .footer {
        vertical-align: middle;
    }
    


/* Index Unique Styles */

    .header {
        line-height: 100px;
        background-color: white;
        margin-bottom: 10px;
    }

    .logo {
        width: auto;
    }

    .cover {
        height: 600px;
        object-position: 0% 53%;
    }

    .row {
        height: 200px;
        text-align: center;
        margin-top: 40px;
    }

    .column {
        float: left;
        width: 33.33%;
        margin-top: 30px;
    }

    .dish {
        width: 90%;
        height: 200px;
    }

    .division {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .footer {
        height: 65px;
        text-align: center;
        margin: auto;
    }

    .footertxt {
        margin-top: 0;
    }
    
    .footerhead {
        margin-bottom: 0px;
    }


/* Recipe Shared Styles */

    .wrapper, .textbox {
        margin-top: 5px;
    }

    ul.a, ol.b {
        font-family: Jost, sans-serif;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        margin-top: 0px;
    }


/* Recipe Unique Styles */

    .wrapper {
        float: left;
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .foodimg {
        width: 550px;
        height: 400px;
        object-fit: cover;
        border-radius: 15px;
    }

    .textbox {
        margin-left: auto;
    }

    .textbox p {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    ul.a {
        list-style-type: disc;
    }
    
    ol.b {
        list-style-type: decimal;
    }
    